.intro-background {
  width: 100%;
}

.intro-item {
}

.intro-item h1,
h2,
ul,
li {
  margin: 4px 0;
}

.intro-item p {
  margin: 8px 0;
}

.intro-picture img {
  width: 70%;
  border: 5px solid black;
}
