@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

html {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.screen-background {
  display: flex;
  flex-direction: column;
  width: 100%;
}

